<%- include("navbaronly"); -%>

<title>
    REFCON - Enter Marks
</title>

<div class="container">
    
    <center>
        <h5 style="margin-top: 40px;"> 
            <%= department %> <%= year %> year, Semester <%= semester %>, <%= subjectName %> Internal No: <%= internalNumber %> Marks
        </h5> 
    </center>
    
    <div class='main' style="margin-top: 10px;">
    
        <form action="internalmarktable" method="POST">

            <table style="margin: auto; max-width: 100%;" class="table table-hover table-bordered" >
                <input type="hidden" name="id" value="<%= id %>">
                <thead>
                    <tr>
                        <th>Roll Number</th>
                        <th>Marks Obtained</th>
                    </tr>
                </thead>
        
                <tbody>
                    <% for(var i=0; i < rollNumbers.length; i++){ %>
                    <tr>
                        <td> <input name="rollNumbers" type="hidden" value="<%= rollNumbers[i] %>" > <%= rollNumbers[i] %> </td>
                        <td onkeypress="return event.key != 'Enter';" onkeyup="return event.key != 'Enter';" onkeydown="return event.key != 'Enter';"> <input maxlength="3" class="form-control" name="marks" required> </td>
                    </tr>
                    <% } %>
                </tbody>

            </table>
            <button style="margin-top: 10px;" class="btn btn-primary" type="submit">Submit Marks</button>
        </form>
    
    </div>

</div>