<%- include("navbaronly"); -%>

<title>
    REFCON - New Seating Space
</title>

<style>

    .unclick{
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
    
    .makesmaller{
        font-size:10px;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        }
</style>

<script>
    function showdiv(){
        document.getElementById('clickhere').style.display = 'none';
        document.getElementById('main').style.float = 'none';
        document.getElementById('info').style.display = 'block';
    }

    function showNoOfStudentsAndInfo(){

        if(document.getElementById("noOfRows").value != "" && document.getElementById("noOfColumns").value != ""){

            var noOfstudentsInDept1="";
            var noOfstudentsInDept2="";
            var textInfo="";
            var dispdept1 = $('input[name="department1"]:checked').val();
            var dispdept2 = $('input[name="department2"]:checked').val();
            var dispyear1 = $('input[name="year1"]:checked').val();
            var dispyear2 = $('input[name="year2"]:checked').val();
            
            const multipliedNo = parseInt(document.getElementById("noOfRows").value)*parseInt(document.getElementById("noOfColumns").value);

                noOfstudentsInDept1 = Math.round(multipliedNo/2);
                noOfstudentsInDept2 = Math.floor(multipliedNo/2);
                textInfo = '<br><ul><li>Number of Students in <font style="font-weight: bolder;">'+dispdept1+'</font>, <font style="font-weight: bolder;">'+dispyear1+'</font> year: <font style="font-weight: bolder;">'+noOfstudentsInDept1+'</font></li><li>Number of Students in <font style="font-weight: bolder;">'+dispdept2+'</font>, <font style="font-weight: bolder;">'+dispyear2+'</font> year: <font style="font-weight: bolder;">'+noOfstudentsInDept2+'</font></li>';

            document.getElementById('noOfStudentsInfo').innerHTML = 'Maximum of <font style="font-weight:bolder;">'+String(multipliedNo)+ '</font>' +" students can be allocated"+textInfo;
            document.getElementById('noOfStudentsInfo').style.display = "block";
        }
        else{
            document.getElementById('noOfStudentsInfo').style.display = "none";
        }

    }
    
</script>

<body onload="showNoOfStudentsAndInfo()">
    <div class="container" style="margin-top: 30px;">

        <a style="margin-bottom: 20px;" href="/seatingorder" class="btn btn-outline-primary" role="button"><i class="fa fa-arrow-left"></i></a>

        <%if(typerror != "") {%>
            <div class="alert unclick alert-danger"><a style="color: #7d1523; text-decoration: none;" href="#dept"><%= typerror %></a></div>
        <%}%>

        <h5>New Seating Space</h5>

        <table class="makesmaller table table-bordered">
            <thead>
              <th>Department</th>
              <th>Year</th>
              <th>No. of students unallocated</th>
              <th>No. of students allocated</th>
            </thead>
        
            <tbody>
            <% for(var i=0; i<data.length; i++){ if(data[i].unalloc.length != 0){ %>
              <tr>
                  <td> <%= data[i].department %> </td>
                  <td> <%= data[i].year %></td>
                  <td> <%= data[i].unalloc.length %> </td>
                  <td> <%= data[i].alloc.length %> </td>
              </tr>
              <%}} %>
            </tbody>
            <span id="infotag" ></span>
          </table>

        <form action="/seatingorderspace" method="POST">

            <div class="alert alert-dismissible alert-info unclick" style="margin-top: 10px;">
                <a title="Close" href="#" class="close" data-dismiss='alert' aria-label="close">&times;</a>
                <div id="main" style="float: left;"><i class="fa fa-2x fa-info-circle" aria-hidden="true"></i> </div>
                <div id="clickhere"><a style="text-decoration: none;" href="#infotag" onclick="showdiv()">&nbsp;<font style="font-size: larger;">Click Here</font></a> <font style="font-size: larger;">to read</font></div>
                <div style="display: none;" id="info">
                    <li>Make sure of using the <font style="font-weight: bolder;">Reference table</font> present above to know which department and year are unallocated.</li>
                    <li>Seating alternation starts with Department, year 1 (i.e.) DEPT1, DEPT2, DEPT1,DEPT2,......</li>
                    <li>If number of rows and columns are odd then Department 1's student count will be greater than Department 2's student count(assuming both department, year 1 & 2 unallocated count are the same)</li>
                    <li>If students from a specific department and year are all allocated(if No. of students unallocated is 0) it won't be shown in the Reference table</li>
                    <div class="alert alert-danger unclick">
                        <i class="fa fa-2x fa-exclamation" aria-hidden="true"></i> 
                        <li style="font-weight: bolder;">Allocation should be done in a manner where the number of remaining rows in the Reference table should not be an odd number, else the odd one won't have a pair to allocate seats with.</li>
                    </div>
                </div>
            </div>

            <label> Session: </label> &nbsp;
            <input checked type="radio" name="sessionIn" value="FN">
            <label>FN</label>
            <input type="radio" name="sessionIn" value="AN">
            <label>AN</label>

            <div></div>

            <div id="dept" style="margin-top: 9px;"></div>
            <label> Department 1: </label> &nbsp;
            <input checked type="radio" onchange="showNoOfStudentsAndInfo()" name="department1" value="CSE">
            <label>CSE</label>
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department1" value="IT">
            <label>IT</label>
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department1" value="CIVIL">
            <label>CIVIL</label>
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department1" value="EEE">
            <label>EEE</label>
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department1" value="ECE">
            <label>ECE</label>
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department1" value="MECH">
            <label>MECH</label>

            <div></div>

            <label> Year 1: </label> &nbsp;
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="year1" value="1">
            <label> <font style="font-family: 'Times New Roman', Times, serif;">I</font> </label> &nbsp;
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="year1" value="2">
            <label> <font style="font-family: 'Times New Roman', Times, serif;">II</font> </label>&nbsp;
            <input checked type="radio" onchange="showNoOfStudentsAndInfo()" name="year1" value="3">
            <label> <font style="font-family: 'Times New Roman', Times, serif;">III</font> </label>&nbsp;
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="year1" value="4">
            <label> <font style="font-family: 'Times New Roman', Times, serif;">IV</font> </label>&nbsp;

            <div style="margin-top: 9px;"></div>
            <label> Department 2: </label> &nbsp;
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department2" value="CSE">
            <label>CSE</label>
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department2" value="IT">
            <label>IT</label>
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department2" value="CIVIL">
            <label>CIVIL</label>
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department2" value="EEE">
            <label>EEE</label>
            <input checked type="radio" onchange="showNoOfStudentsAndInfo()" name="department2" value="ECE">
            <label>ECE</label>
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="department2" value="MECH">
            <label>MECH</label>

            <div></div>

            <label> Year 2: </label> &nbsp;
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="year2" value="1">
            <label> <font style="font-family: 'Times New Roman', Times, serif;">I</font> </label> &nbsp;
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="year2" value="2">
            <label> <font style="font-family: 'Times New Roman', Times, serif;">II</font> </label>&nbsp;
            <input checked type="radio" onchange="showNoOfStudentsAndInfo()" name="year2" value="3">
            <label> <font style="font-family: 'Times New Roman', Times, serif;">III</font> </label>&nbsp;
            <input type="radio" onchange="showNoOfStudentsAndInfo()" name="year2" value="4">
            <label> <font style="font-family: 'Times New Roman', Times, serif;">IV</font> </label>&nbsp;
            
            <div></div>

            <input class="form-control" required type="text" name="blockInfo" placeholder="Block (i.e.) Department, Floor, Hall Number">

            <div style="margin-bottom: 5px;"></div>

            <table>
                <tr>
                    <td style="float: left;"> <label for="noOfRows">Number of Rows & Columns:&nbsp;&nbsp;</label><input oninput="showNoOfStudentsAndInfo()" style="width: 35px;" required type="number" maxlength="3" id="noOfRows" name="noOfRows" value="5">&nbsp;&nbsp;X&nbsp;&nbsp;&nbsp;<input oninput="showNoOfStudentsAndInfo()" style="width: 35px;" required type="number" maxlength="3" id="noOfColumns" name="noOfColumns" value="5"> </td>
                </tr>
            </table>

            <div style="display: none;" class="alert alert-info" id="noOfStudentsInfo">
            </div>

            <button style="margin-top: 7px;" class="btn btn-primary" type="submit"> Create </button>
        </form>

    </div>

</body>